<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>FigureScene_PauseBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 89}</string>
			<key>spriteSourceSize</key>
			<string>{88, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 924}, {88, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FigureScene_qia.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{81, 42}</string>
			<key>spriteSourceSize</key>
			<string>{81, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1922, 287}, {81, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FigureScene_score.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {84, 42}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{84, 42}</string>
			<key>spriteSourceSize</key>
			<string>{96, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1961, 61}, {84, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>IntroScene_settingBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 93}</string>
			<key>spriteSourceSize</key>
			<string>{92, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 924}, {92, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>IntroScene_startBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {328, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{328, 103}</string>
			<key>spriteSourceSize</key>
			<string>{328, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 819}, {328, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PauseNode_again.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {328, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{328, 103}</string>
			<key>spriteSourceSize</key>
			<string>{328, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 609}, {328, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PauseNode_backBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {328, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{328, 103}</string>
			<key>spriteSourceSize</key>
			<string>{328, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 714}, {328, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PauseNode_contineBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {328, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{328, 103}</string>
			<key>spriteSourceSize</key>
			<string>{328, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 714}, {328, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PauseNode_kuang.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {637, 599}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{637, 599}</string>
			<key>spriteSourceSize</key>
			<string>{637, 599}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{646, 0}, {637, 599}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PlayEndNode_kuang.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {644, 607}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{644, 607}</string>
			<key>spriteSourceSize</key>
			<string>{644, 607}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {644, 607}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_AboutmeBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {328, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{328, 103}</string>
			<key>spriteSourceSize</key>
			<string>{328, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 609}, {328, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_backBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 46}</string>
			<key>spriteSourceSize</key>
			<string>{76, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1922, 331}, {76, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_bgEffect_selectedbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 89}</string>
			<key>spriteSourceSize</key>
			<string>{88, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 924}, {88, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_bgEffectbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 89}</string>
			<key>spriteSourceSize</key>
			<string>{88, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1922, 196}, {88, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_bgMusic_selectedbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 89}</string>
			<key>spriteSourceSize</key>
			<string>{88, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 924}, {88, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_bgMusicbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 89}</string>
			<key>spriteSourceSize</key>
			<string>{88, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1922, 105}, {88, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_kuangBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {635, 598}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{635, 598}</string>
			<key>spriteSourceSize</key>
			<string>{635, 598}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1285, 102}, {635, 598}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_pingfenBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {328, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{328, 103}</string>
			<key>spriteSourceSize</key>
			<string>{328, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 819}, {328, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>processBar_time.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {674, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{674, 39}</string>
			<key>spriteSourceSize</key>
			<string>{674, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1285, 61}, {674, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>processBar_timebg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {697, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{697, 59}</string>
			<key>spriteSourceSize</key>
			<string>{697, 59}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1285, 0}, {697, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>numberUI</string>
		<key>textureFileName</key>
		<string>numberUI-ipad.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>