<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>FigureScene_PauseBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 462}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FigureScene_qia.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 21}</string>
			<key>spriteSourceSize</key>
			<string>{40, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{961, 143}, {40, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FigureScene_score.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {42, 21}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{42, 21}</string>
			<key>spriteSourceSize</key>
			<string>{48, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 30}, {42, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>IntroScene_settingBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 46}</string>
			<key>spriteSourceSize</key>
			<string>{46, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 462}, {46, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>IntroScene_startBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 51}</string>
			<key>spriteSourceSize</key>
			<string>{164, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 409}, {164, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PauseNode_again.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 51}</string>
			<key>spriteSourceSize</key>
			<string>{164, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 304}, {164, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PauseNode_backBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 51}</string>
			<key>spriteSourceSize</key>
			<string>{164, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 357}, {164, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PauseNode_contineBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 51}</string>
			<key>spriteSourceSize</key>
			<string>{164, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 357}, {164, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PauseNode_kuang.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {318, 299}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{318, 299}</string>
			<key>spriteSourceSize</key>
			<string>{318, 299}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{323, 0}, {318, 299}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PlayEndNode_kuang.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {322, 303}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{322, 303}</string>
			<key>spriteSourceSize</key>
			<string>{322, 303}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {322, 303}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_AboutmeBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 51}</string>
			<key>spriteSourceSize</key>
			<string>{164, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 304}, {164, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_backBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 23}</string>
			<key>spriteSourceSize</key>
			<string>{38, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{961, 165}, {38, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_bgEffect_selectedbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{47, 462}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_bgEffectbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{961, 98}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_bgMusic_selectedbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 462}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_bgMusicbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{961, 52}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_kuangBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {317, 299}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{317, 299}</string>
			<key>spriteSourceSize</key>
			<string>{317, 299}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 51}, {317, 299}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SettingNode_pingfenBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 51}</string>
			<key>spriteSourceSize</key>
			<string>{164, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 409}, {164, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>processBar_time.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {337, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{337, 19}</string>
			<key>spriteSourceSize</key>
			<string>{337, 19}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 30}, {337, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>processBar_timebg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {348, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{348, 29}</string>
			<key>spriteSourceSize</key>
			<string>{348, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 0}, {348, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>numberUI</string>
		<key>textureFileName</key>
		<string>numberUI.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>